<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">
      Calculadora Básica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card>
    <ion-item color="light">
      <ion-label>Primeiro Valor:</ion-label>
      <ion-input [(ngModel)]="valorUm" type="number"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label>Segundo Valor:</ion-label>
      <ion-input [(ngModel)]="valorDois" type="number"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item color="danger">
      <h2>Resultado:</h2>
    </ion-item>

    <ion-item color="light">
      <ion-label>{{resultado}}</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-button color="light" expand="block" (click)="soma()"
      >Soma (+)</ion-button
    >
    <ion-button color="light" expand="block" (click)="subtracao()"
      >Subtração (-)</ion-button
    >
    <ion-button color="light" expand="block" (click)="multiplicacao()"
      >Multiplicação (x)</ion-button
    >
    <ion-button color="light" expand="block" (click)="divisao()"
      >Divisão (/)</ion-button
    >
    <br />
    <ion-button color="light" expand="block" (click)="limpar()"
      >Limpar Calculadora</ion-button
    >
  </ion-card>
</ion-content>
